[color]
diff = auto
status = auto
branch = auto
interactive = auto

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge --skip -- %f
process = git-lfs filter-process --skip
required = true

[core]
excludesfile = ~/.gitignore
filemode = false
quotepath = false

[user]
name = {{ git_user_name }}
email = {{ git_email }}

[pull]
rebase = false

